@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
.square {
  background: #FFC20E; }

.round {
  border-radius: 50%;
  background: #009444; }

.triangle {
  width: 0;
  height: 0; }

* {
  margin: 0;
  padding: 0;
  font-family: Nunito, sans-serif;
  font-style: normal;
  font-weight: normal; }

body {
  overflow: hidden; }

.wrapper {
  width: 100%;
  height: calc(100vh - 50px);
  overflow-y: scroll;
  overflow-x: hidden; }

.button {
  color: black;
  text-decoration: none;
  position: relative; }
  .button button, .button button:after {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s; }
  .button button {
    cursor: pointer;
    width: 220px;
    height: 50px;
    font-size: 1em;
    border: solid 2px black;
    background: none; }
    .button button:hover {
      background: black;
      border-color: black;
      color: white; }

.button-highlight {
  margin-right: 15px; }
  .button-highlight button {
    background: #FF003D;
    color: white;
    border-color: #FF003D; }

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
  height: 50px;
  max-width: 100vw;
  background: #FFC20E;
  padding: 0 10%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 999; }
  nav a {
    text-decoration: none;
    color: black;
    font-weight: bold; }
    nav a img {
      height: 25px; }
  nav .navigation__links a {
    padding: 0px 7px; }

section {
  position: relative;
  height: 400px;
  min-height: 260px;
  padding: 100px 10%; }

.land-screen {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
  height: calc(100% - 200px); }
  .land-screen .land-screen__content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    animation: landpage-popup 1s linear; }

@keyframes landpage-popup {
  0% {
    transform: translateX(-10px);
    opacity: 0; }
  100% {
    transform: translateX(0);
    opacity: 1; } }
    .land-screen .land-screen__content .land-screen__text {
      max-width: 60vw; }
      .land-screen .land-screen__content .land-screen__text h1 p:first-child {
        font-weight: 900;
        font-size: 2em; }
        .land-screen .land-screen__content .land-screen__text h1 p:first-child span {
          font-weight: 900; }
      .land-screen .land-screen__content .land-screen__text h1 p:last-child {
        width: 70%; }
      .land-screen .land-screen__content .land-screen__text h1 p span {
        white-space: nowrap; }
      .land-screen .land-screen__content .land-screen__text h2 {
        padding-top: 20px;
        font-weight: 900; }
    .land-screen .land-screen__content .buttons {
      margin-top: 15%;
      display: flex;
      flex-flow: row nowrap; }
  .land-screen .land-screen__figures {
    position: absolute;
    right: 10%;
    height: 400px;
    width: 400px; }
    .land-screen .land-screen__figures .triangle {
      border-left: 130px solid transparent;
      border-right: 130px solid transparent;
      border-bottom: 200px solid #ff0606;
      transform: rotate(0);
      position: absolute;
      top: 10%;
      left: 250px;
      animation: landScreen-triangle 1s linear forwards;
      z-index: -1; }

@keyframes landScreen-triangle {
  0% {
    transform: rotate(180deg) translate(50%, 50%); }
  100% {
    transform: rotate(180deg) translate(50%, 0%); } }
    .land-screen .land-screen__figures .square {
      height: 200px;
      width: 200px;
      position: absolute;
      top: 50%;
      left: -50px;
      animation: landScreen-square 1s linear forwards;
      z-index: -2; }

@keyframes landScreen-square {
  0% {
    transform: translate(-30%, 0%); }
  100% {
    transform: translate(10%, 0%); } }
    .land-screen .land-screen__figures .round {
      height: 200px;
      width: 200px;
      position: absolute;
      top: 50%;
      left: 250px;
      animation: landScreen-round 1s linear forwards;
      z-index: -2; }

@keyframes landScreen-round {
  0% {
    transform: rotate(180deg) translate(50%, 0%) scale(1.1); }
  100% {
    transform: rotate(180deg) translate(50%, 0%) scale(1); } }

.prize-screen {
  height: 550px;
  padding: 0;
  background: #FFC20E; }
  .prize-screen h2 {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-top: 40px; }
    .prize-screen h2 span {
      color: white;
      font-family: "Open Sans", sans-serif; }
      .prize-screen h2 span:first-child {
        font-size: 1.5em;
        font-weight: bold;
        text-transform: uppercase;
        line-height: 35px;
        text-align: right; }
      .prize-screen h2 span:nth-child(2) {
        font-size: 6em;
        line-height: 80%;
        font-weight: bold;
        color: #ff0606; }
      .prize-screen h2 span:last-child {
        font-size: 1.2em;
        font-weight: bold;
        text-transform: uppercase; }
  .prize-screen .prize-screen__nominations {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    padding: 0px 10%; }
    .prize-screen .prize-screen__nominations a {
      text-decoration: none;
      color: black; }
      .prize-screen .prize-screen__nominations a:hover {
        transition: all .5s;
        transform: scale(1.1); }
    .prize-screen .prize-screen__nominations .prize-screen__nominations__nomination {
      position: relative; }
      .prize-screen .prize-screen__nominations .prize-screen__nominations__nomination h3 {
        position: relative;
        z-index: 1; }
        .prize-screen .prize-screen__nominations .prize-screen__nominations__nomination h3 p {
          font-weight: 900;
          text-transform: uppercase;
          text-align: center; }
          .prize-screen .prize-screen__nominations .prize-screen__nominations__nomination h3 p:last-child {
            font-size: 2em;
            line-height: 40px; }
      .prize-screen .prize-screen__nominations .prize-screen__nominations__nomination div {
        position: absolute;
        background: white;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        text-align: right;
        top: 50px;
        left: 50%;
        transform: translate(-50%, 0); }
        .prize-screen .prize-screen__nominations .prize-screen__nominations__nomination div p {
          position: absolute;
          top: 25%;
          text-align: right; }
          .prize-screen .prize-screen__nominations .prize-screen__nominations__nomination div p span {
            font-weight: 900;
            color: #ff0606; }
            .prize-screen .prize-screen__nominations .prize-screen__nominations__nomination div p span:first-child {
              font-size: 3.9em;
              line-height: 40px; }
            .prize-screen .prize-screen__nominations .prize-screen__nominations__nomination div p span:last-child {
              font-size: 1.5em;
              text-transform: uppercase;
              padding-right: 15px; }
      .prize-screen .prize-screen__nominations .prize-screen__nominations__nomination .round {
        width: 200px;
        height: 200px;
        z-index: 0; }
      .prize-screen .prize-screen__nominations .prize-screen__nominations__nomination .figure {
        width: 290px;
        height: 220px;
        background: none;
        top: 75px; }
        .prize-screen .prize-screen__nominations .prize-screen__nominations__nomination .figure p {
          width: 210px;
          top: 10%; }
          .prize-screen .prize-screen__nominations .prize-screen__nominations__nomination .figure p span:first-child {
            padding-right: 15px; }
      .prize-screen .prize-screen__nominations .prize-screen__nominations__nomination .triangle {
        position: absolute;
        top: 0;
        left: 0;
        background: transparent;
        border-left: 130px solid transparent;
        border-right: 160px solid transparent;
        border-bottom: 220px solid #ff0606;
        transform: rotate(180deg);
        border-bottom-color: white; }
      .prize-screen .prize-screen__nominations .prize-screen__nominations__nomination .square {
        position: absolute;
        top: 0;
        left: 12%;
        width: 200px;
        height: 180px;
        transform: rotate(20deg); }
  .prize-screen .sharpers {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1; }
    .prize-screen .sharpers .top-sharps {
      position: absolute;
      top: -20px;
      left: -600px;
      display: flex;
      animation: move-left 5s linear infinite; }

@keyframes move-left {
  0% {
    transform: none; }
  100% {
    transform: translateX(-697px); } }
    .prize-screen .sharpers .bottom-sharps {
      position: absolute;
      bottom: -20px;
      left: -600px;
      display: flex;
      animation: move-left-bottom 5s linear infinite; }

@keyframes move-left-bottom {
  0% {
    transform: rotate(180deg); }
  100% {
    transform: rotate(180deg) translateX(695px); } }
    .prize-screen .sharpers .sharp {
      border-bottom-color: #FFC20E !important; }
      .prize-screen .sharpers .sharp:nth-child(n) {
        border-left: 25px solid transparent;
        border-right: 27px solid transparent;
        border-bottom: 20px solid #ff0606;
        transform: rotate(0); }
      .prize-screen .sharpers .sharp:nth-child(2n+2) {
        border-left: 35px solid transparent;
        border-right: 35px solid transparent;
        border-bottom: 20px solid #ff0606;
        transform: rotate(0); }
      .prize-screen .sharpers .sharp:nth-child(3n+3) {
        border-left: 30px solid transparent;
        border-right: 30px solid transparent;
        border-bottom: 20px solid #ff0606;
        transform: rotate(0); }
      .prize-screen .sharpers .sharp:nth-child(4n+4) {
        border-left: 30px solid transparent;
        border-right: 30px solid transparent;
        border-bottom: 20px solid #ff0606;
        transform: rotate(0); }
      .prize-screen .sharpers .sharp:nth-child(5n+5) {
        border-left: 30px solid transparent;
        border-right: 30px solid transparent;
        border-bottom: 20px solid #ff0606;
        transform: rotate(0); }
      .prize-screen .sharpers .sharp:nth-child(6n+6) {
        border-left: 30px solid transparent;
        border-right: 25px solid transparent;
        border-bottom: 20px solid #ff0606;
        transform: rotate(0); }

.stages-screen {
  height: 400px; }
  .stages-screen h2 {
    font-size: 2em;
    font-weight: 600; }
  .stages-screen .stages-screen__timeline .stages-screen__timeline__dates {
    margin-top: 40px;
    display: flex;
    justify-content: space-between; }
    .stages-screen .stages-screen__timeline .stages-screen__timeline__dates span {
      font-size: 2em;
      font-weight: bold;
      font-family: "Open Sans", sans-serif;
      color: #CCCCCC; }
      .stages-screen .stages-screen__timeline .stages-screen__timeline__dates span:nth-child(1) {
        padding-right: 2px; }
      .stages-screen .stages-screen__timeline .stages-screen__timeline__dates span:nth-child(2) {
        padding-right: 10px; }
      .stages-screen .stages-screen__timeline .stages-screen__timeline__dates span:nth-child(3) {
        padding-left: 18px; }
  .stages-screen .stages-screen__timeline .stages-screen__timeline__stage {
    display: flex;
    justify-content: space-around;
    margin-top: 130px; }
    .stages-screen .stages-screen__timeline .stages-screen__timeline__stage span {
      text-align: center;
      font-weight: bold; }
      .stages-screen .stages-screen__timeline .stages-screen__timeline__stage span:nth-child(1) {
        padding-left: 20px; }
  .stages-screen .stages-screen__timeline .stages-screen__timeline__shapes {
    position: absolute;
    margin-top: 50px;
    width: 80%;
    display: flex;
    justify-content: space-between; }
    .stages-screen .stages-screen__timeline .stages-screen__timeline__shapes .square {
      width: 40px;
      height: 150px; }
    .stages-screen .stages-screen__timeline .stages-screen__timeline__shapes .round {
      position: relative;
      width: 50px;
      height: 50px;
      margin-top: 10px; }
      .stages-screen .stages-screen__timeline .stages-screen__timeline__shapes .round:before {
        display: block;
        content: "";
        height: 200px;
        width: 2px;
        background: #CCCCCC;
        position: absolute;
        top: -72px;
        left: 50%;
        transform: translate(100% 0);
        z-index: -1; }
    .stages-screen .stages-screen__timeline .stages-screen__timeline__shapes:before {
      display: block;
      content: "";
      position: absolute;
      z-index: -1;
      top: 30px;
      left: 0;
      width: 99%;
      height: 0px;
      border-bottom: dashed 6px black; }
  .stages-screen .stages-screen__figures {
    display: flex;
    position: absolute;
    bottom: 0;
    right: 10%; }
    .stages-screen .stages-screen__figures .triangle {
      border-left: 40px solid transparent;
      border-right: 40px solid transparent;
      border-bottom: 70px solid #ff0606;
      transform: rotate(0); }
      .stages-screen .stages-screen__figures .triangle:first-child {
        margin-right: 8vw; }

.nomination-screen h2 {
  font-size: 3em; }
  .nomination-screen h2 span {
    text-transform: uppercase; }

.nomination-screen p {
  margin-top: 40px;
  margin-bottom: 100px;
  width: 60%;
  font-size: 1.2em;
  font-weight: 600; }

.nomination-screen:nth-child(even) {
  background: #FFF9E6; }

.floor-nomination {
  overflow-y: hidden; }
  .floor-nomination .nomination-screen__text {
    position: relative;
    z-index: 1000; }
  .floor-nomination .section-animation .section-animation__top, .floor-nomination .section-animation .section-animation__bottom {
    display: flex;
    position: absolute;
    right: 10%;
    z-index: 1; }
    .floor-nomination .section-animation .section-animation__top .triangle, .floor-nomination .section-animation .section-animation__bottom .triangle {
      border-left: 40px solid transparent;
      border-right: 40px solid transparent;
      border-bottom: 70px solid #ff0606;
      transform: rotate(0); }
      .floor-nomination .section-animation .section-animation__top .triangle:first-child, .floor-nomination .section-animation .section-animation__bottom .triangle:first-child {
        margin-right: 8vw; }
  .floor-nomination .section-animation .section-animation__top {
    top: 0;
    transform: rotate(180deg); }
  .floor-nomination .section-animation .section-animation__bottom {
    bottom: 0; }
  .floor-nomination .section-animation .section-animation__content {
    display: flex;
    position: absolute;
    top: 0;
    right: 10%; }
    .floor-nomination .section-animation .section-animation__content > div {
      display: flex;
      flex-flow: column nowrap; }
      .floor-nomination .section-animation .section-animation__content > div .square {
        width: 80px;
        height: 80px;
        margin: 15px 0; }
      .floor-nomination .section-animation .section-animation__content > div:first-child {
        margin-right: 8vw; }
    .floor-nomination .section-animation .section-animation__content .section-animation__content__top-direction {
      animation: move-top 1s linear infinite; }

@keyframes move-top {
  0% {
    transform: translateY(-110px); }
  100% {
    transform: translateY(0); } }
    .floor-nomination .section-animation .section-animation__content .section-animation__content__bottom-direction {
      animation: move-bottom 1s linear infinite; }

@keyframes move-bottom {
  0% {
    transform: translateY(0); }
  100% {
    transform: translateY(-110px); } }

.foodcourt-nomination {
  display: flex;
  justify-content: flex-end; }
  .foodcourt-nomination .nomination-screen__text {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-end;
    z-index: 99;
    text-align: right; }
  .foodcourt-nomination .section-animation {
    overflow-y: visible; }
    .foodcourt-nomination .section-animation .section-animation__top {
      display: flex;
      position: absolute;
      top: 0;
      right: 10%;
      z-index: 999; }
      .foodcourt-nomination .section-animation .section-animation__top .triangle {
        border-left: 40px solid transparent;
        border-right: 40px solid transparent;
        border-bottom: 70px solid #ff0606;
        transform: rotate(180deg); }
        .foodcourt-nomination .section-animation .section-animation__top .triangle:first-child {
          margin-right: 8vw; }
    .foodcourt-nomination .section-animation .section-animation__content .pizza {
      position: absolute;
      left: 0;
      top: 10vh;
      z-index: 3;
      border-left: 280px solid transparent;
      border-right: 140px solid transparent;
      border-bottom: 600px solid #ff0606;
      transform: rotate(193deg);
      border-bottom-color: #FFC20E; }
      .foodcourt-nomination .section-animation .section-animation__content .pizza .square {
        background: #009444;
        position: absolute; }
        .foodcourt-nomination .section-animation .section-animation__content .pizza .square:first-child {
          top: 450px;
          left: -30px;
          width: 120px;
          height: 100px;
          transform: rotate(-30deg);
          animation: pizza-shaking-first 4s linear infinite; }

@keyframes pizza-shaking-first {
  0% {
    transform: rotate(-30deg); }
  50% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(-30deg); } }
        .foodcourt-nomination .section-animation .section-animation__content .pizza .square:nth-child(5) {
          top: 230px;
          left: -60px;
          width: 90px;
          height: 90px;
          animation: pizza-shaking-second 4s linear infinite; }

@keyframes pizza-shaking-second {
  0% {
    transform: rotate(15deg); }
  50% {
    transform: rotate(30deg); }
  100% {
    transform: rotate(15deg); } }
      .foodcourt-nomination .section-animation .section-animation__content .pizza .round {
        background: #ff0606;
        position: absolute; }
        .foodcourt-nomination .section-animation .section-animation__content .pizza .round:nth-child(2) {
          top: 450px;
          left: -130px;
          height: 110px;
          width: 110px;
          animation: pizza-popup-first 2s linear infinite;
          animation-delay: 0s; }

@keyframes pizza-popup-first {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.2); }
  100% {
    transform: scale(1); } }
        .foodcourt-nomination .section-animation .section-animation__content .pizza .round:nth-child(3) {
          top: 310px;
          left: -45px;
          height: 130px;
          width: 130px;
          z-index: 3;
          animation: pizza-popup-second 2s linear infinite;
          animation-delay: .5s; }

@keyframes pizza-popup-second {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.1); }
  100% {
    transform: scale(1); } }
        .foodcourt-nomination .section-animation .section-animation__content .pizza .round:nth-child(4) {
          top: 380px;
          left: -130px;
          height: 40px;
          width: 40px;
          animation: pizza-popup-third 2s linear infinite;
          animation-delay: 1s; }

@keyframes pizza-popup-third {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.3); }
  100% {
    transform: scale(1); } }
        .foodcourt-nomination .section-animation .section-animation__content .pizza .round:nth-child(6) {
          top: 155px;
          left: -45px;
          height: 80px;
          width: 80px;
          animation: pizza-popup-forth 2s linear infinite;
          animation-delay: 1.5s; }

@keyframes pizza-popup-forth {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.05); }
  100% {
    transform: scale(1); } }

.street-nomination {
  z-index: 2; }
  .street-nomination .nomination-screen__text {
    z-index: 999; }
  .street-nomination .section-animation {
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
    right: 0;
    top: 0; }
    .street-nomination .section-animation .section-animation__content .sun {
      position: absolute;
      top: 60px;
      right: calc(10% + 200px);
      background: #FFC20E;
      width: 30px;
      height: 30px;
      animation: alley-popup 3s linear infinite;
      animation-delay: 3s; }

@keyframes alley-popup {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.3); }
  100% {
    transform: scale(1); } }
    .street-nomination .section-animation .section-animation__content .alley .round {
      position: absolute; }
      .street-nomination .section-animation .section-animation__content .alley .round:nth-child(1) {
        top: 100px;
        right: calc(10% + 80px);
        width: 35px;
        height: 35px;
        animation: alley-popup 1s linear infinite; }

@keyframes alley-popup {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.1); }
  100% {
    transform: scale(1); } }
      .street-nomination .section-animation .section-animation__content .alley .round:nth-child(2) {
        top: 140px;
        right: calc(10% + 115px);
        width: 40px;
        height: 40px;
        animation: alley-popup 1s linear infinite;
        animation-delay: .2s; }

@keyframes alley-popup {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.1); }
  100% {
    transform: scale(1); } }
      .street-nomination .section-animation .section-animation__content .alley .round:nth-child(3) {
        top: 190px;
        right: calc(10% + 150px);
        width: 50px;
        height: 50px;
        animation: alley-popup 1s linear infinite;
        animation-delay: .3s; }

@keyframes alley-popup {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.1); }
  100% {
    transform: scale(1); } }
      .street-nomination .section-animation .section-animation__content .alley .round:nth-child(4) {
        top: 250px;
        right: calc(10% + 200px);
        width: 55px;
        height: 55px;
        animation: alley-popup 1s linear infinite;
        animation-delay: .5s; }

@keyframes alley-popup {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.1); }
  100% {
    transform: scale(1); } }
      .street-nomination .section-animation .section-animation__content .alley .round:nth-child(5) {
        top: 300px;
        right: calc(10% + 245px);
        width: 60px;
        height: 60px;
        animation: alley-popup 1s linear infinite;
        animation-delay: .7s; }

@keyframes alley-popup {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.1); }
  100% {
    transform: scale(1); } }
      .street-nomination .section-animation .section-animation__content .alley .round:nth-child(6) {
        top: 350px;
        right: calc(10% + 300px);
        width: 70px;
        height: 70px;
        animation: alley-popup 1s linear infinite;
        animation-delay: .9s; }

@keyframes alley-popup {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.1); }
  100% {
    transform: scale(1); } }
      .street-nomination .section-animation .section-animation__content .alley .round:nth-child(10) {
        top: 270px;
        right: 10%;
        width: 60px;
        height: 60px;
        animation: alley-popup 1s linear infinite;
        animation-delay: .11s; }

@keyframes alley-popup {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.1); }
  100% {
    transform: scale(1); } }
      .street-nomination .section-animation .section-animation__content .alley .round:nth-child(11) {
        top: 335px;
        right: calc(10% + 10px);
        width: 80px;
        height: 70px;
        animation: alley-popup 1s linear infinite;
        animation-delay: .13s; }

@keyframes alley-popup {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.1); }
  100% {
    transform: scale(1); } }
      .street-nomination .section-animation .section-animation__content .alley .round:nth-child(12) {
        top: 400px;
        right: calc(10% + 50px);
        width: 95px;
        height: 95px;
        animation: alley-popup 1s linear infinite;
        animation-delay: .17s; }

@keyframes alley-popup {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.1); }
  100% {
    transform: scale(1); } }
    .street-nomination .section-animation .section-animation__content .alley .triangle {
      position: absolute; }
      .street-nomination .section-animation .section-animation__content .alley .triangle:nth-child(7) {
        top: 50px;
        right: 10%;
        border-left: 40px solid transparent;
        border-right: 40px solid transparent;
        border-bottom: 140px solid #ff0606;
        transform: rotate(0); }
      .street-nomination .section-animation .section-animation__content .alley .triangle:nth-child(8) {
        top: 150px;
        right: calc(10% + 50px);
        border-left: 50px solid transparent;
        border-right: 50px solid transparent;
        border-bottom: 180px solid #ff0606;
        transform: rotate(0); }
      .street-nomination .section-animation .section-animation__content .alley .triangle:nth-child(9) {
        top: 240px;
        right: calc(10% + 130px);
        border-left: 60px solid transparent;
        border-right: 60px solid transparent;
        border-bottom: 200px solid #ff0606;
        transform: rotate(0); }

.rules-screen {
  height: auto; }
  .rules-screen h2 {
    font-size: 1.5em;
    font-weight: 500; }
  .rules-screen .rules-screen__rules {
    margin-top: 50px;
    border: solid black;
    border-width: 2px 0 2px 0;
    margin-left: 60px; }
    .rules-screen .rules-screen__rules .rules-screen__rules__rule {
      display: flex;
      flex-flow: column;
      padding: 20px 0px;
      position: relative;
      transition: all .5s; }
      .rules-screen .rules-screen__rules .rules-screen__rules__rule:not(:last-child) {
        border-bottom: solid 2px black; }
      .rules-screen .rules-screen__rules .rules-screen__rules__rule .rules-screen__rules__rule__short {
        display: flex;
        align-items: center;
        justify-content: space-between; }
      .rules-screen .rules-screen__rules .rules-screen__rules__rule p {
        display: none;
        margin-top: 20px;
        margin-bottom: 40px;
        padding-left: 15px; }
      .rules-screen .rules-screen__rules .rules-screen__rules__rule h4 {
        font-weight: bold; }
      .rules-screen .rules-screen__rules .rules-screen__rules__rule .square {
        position: absolute;
        left: -60px;
        width: 25px;
        height: 25px;
        background: #ff0606; }
      .rules-screen .rules-screen__rules .rules-screen__rules__rule .expand-button {
        position: relative;
        width: 20px;
        height: 20px;
        cursor: pointer;
        transition: transform .5s; }
        .rules-screen .rules-screen__rules .rules-screen__rules__rule .expand-button:before, .rules-screen .rules-screen__rules .rules-screen__rules__rule .expand-button:after {
          display: block;
          content: "";
          position: absolute;
          top: 50%;
          left: 0%;
          width: 20px;
          height: 3px;
          background: black;
          border-radius: 10px; }
        .rules-screen .rules-screen__rules .rules-screen__rules__rule .expand-button:after {
          transform: rotate(-90deg); }
        .rules-screen .rules-screen__rules .rules-screen__rules__rule .expand-button:hover {
          transform: scale(1.1); }
    .rules-screen .rules-screen__rules .active .expand-button {
      transform: rotate(135deg); }
      .rules-screen .rules-screen__rules .active .expand-button:hover {
        transform: scale(1.1) rotate(135deg); }
    .rules-screen .rules-screen__rules .active p {
      display: block; }

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  background: #FFC20E;
  padding: 30px 10%;
  color: white; }
  footer p:nth-child(4) {
    font-weight: bold; }
  footer .links {
    display: flex; }
    footer .links a {
      width: 30px;
      height: 30px; }
      footer .links a:first-child {
        margin-right: 10px; }
      footer .links a img {
        width: 100%;
        height: 100%;
        filter: invert(100%);
        -webkit-filter: invert(100%);
        transition: all .5s; }
      footer .links a:hover img {
        filter: invert(0%);
        -webkit-filter: invert(0%); }
  footer .cat {
    position: absolute;
    top: 0;
    right: 10%;
    background: #FFC20E;
    width: 60px;
    height: 60px;
    transform: translateY(-90%); }
    footer .cat .cat__ear {
      position: absolute; }
      footer .cat .cat__ear:first-child {
        border-left: 11px solid transparent;
        border-right: 7px solid transparent;
        border-bottom: 19px solid #ff0606;
        transform: rotate(0);
        top: -8px;
        left: -8px;
        transform: rotate(-40deg);
        border-bottom-color: #FFC20E; }
      footer .cat .cat__ear:nth-child(2) {
        border-left: 12px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: 20px solid #ff0606;
        transform: rotate(0);
        top: -9px;
        right: -9px;
        transform: scaleX(-1) rotate(-40deg);
        border-bottom-color: #FFC20E; }
    footer .cat .cat__eye {
      position: absolute;
      width: 7px;
      height: 12px;
      background: #009444; }
      footer .cat .cat__eye:nth-child(3) {
        top: 17px;
        left: 12px; }
      footer .cat .cat__eye:nth-child(4) {
        top: 17px;
        right: 20px; }
      footer .cat .cat__eye:before {
        position: absolute;
        top: 2px;
        left: 1px;
        display: block;
        content: "";
        width: 3px;
        height: 3px;
        background: black;
        border-radius: 50%; }
    footer .cat .cat__nose {
      border-left: 6px solid transparent;
      border-right: 8px solid transparent;
      border-bottom: 10px solid #ff0606;
      transform: rotate(180deg);
      position: absolute;
      bottom: 18px;
      left: 16px; }
