@font-face {
  font-family: "ProximaNova-Regular";
  src: url("fonts/ProximaNova-Regular.woff") format("woff"), url("fonts/ProximaNova-Regular.woff2") format("woff2"); }

@font-face {
  font-family: "ProximaNova-Semibold";
  src: url("fonts/ProximaNova-Semibold.woff") format("woff"), url("fonts/ProximaNova-Semibold.woff2") format("woff2"); }

.square {
  background: #FFC20E; }

.round {
  border-radius: 50%;
  background: #009444; }

.triangle {
  width: 0;
  height: 0; }

* {
  margin: 0;
  padding: 0;
  font-family: "ProximaNova-Regular", sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #171219; }

body {
  overflow: hidden;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center; }

.wrapper {
  width: 100%;
  height: calc(100vh - 60px);
  overflow-y: scroll;
  overflow-x: hidden; }

.buttons {
  display: flex;
  flex-flow: row nowrap; }

.button {
  color: #171219;
  text-decoration: none;
  position: relative; }
  .button:hover, .button:focus {
    outline: none; }
    .button:hover > div, .button:focus > div {
      background: #171219;
      border-color: #171219;
      color: white !important;
      outline: none; }
      .button:hover > div span, .button:focus > div span {
        color: white; }
      .button:hover > div .arrow, .button:focus > div .arrow {
        transform: rotate(90deg); }
        .button:hover > div .arrow:before, .button:hover > div .arrow:after, .button:focus > div .arrow:before, .button:focus > div .arrow:after {
          filter: invert(100%);
          -webkit-filter: invert(100%); }
  .button > div, .button > div:after {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s; }
  .button > div {
    cursor: pointer;
    width: 250px;
    height: 60px;
    font-size: 1.1em;
    border: solid 2px #171219;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center; }
    .button > div .arrow {
      width: 20px;
      height: 20px;
      position: relative;
      transition: all .5s;
      margin-right: 10px; }
      .button > div .arrow:before, .button > div .arrow:after {
        display: block;
        content: "";
        position: absolute;
        transition: all .5s;
        width: 10px;
        height: 2px;
        background: black; }
      .button > div .arrow:before {
        top: 30%;
        left: 50%;
        transform: translate(-50%, 0%) rotate(45deg); }
      .button > div .arrow:after {
        bottom: 30%;
        left: 50%;
        transform: translate(-50%, 0%) rotate(-45deg); }

.button-highlight {
  margin-right: 30px; }
  .button-highlight:hover > div, .button-highlight:focus > div {
    background: #c21313;
    border-color: #c21313; }
  .button-highlight > div {
    background: #FF003D;
    border-color: #FF003D; }
    .button-highlight > div span {
      color: white !important; }
    .button-highlight > div .arrow:before, .button-highlight > div .arrow:after {
      filter: invert(100%);
      -webkit-filter: invert(100%); }
  .button-highlight:hover > div .arrow, .button-highlight:focus > div .arrow {
    transform: translateX(5px) scale(1.1); }

nav {
  display: flex;
  justify-content: center;
  height: 60px;
  max-width: 100vw;
  background: #FFC20E;
  padding: 0 10%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 99999; }
  nav .burger-menu {
    display: none; }
  nav .section-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    nav .section-wrapper > a {
      display: flex; }
  nav a {
    text-decoration: none;
    color: #171219;
    font-family: "ProximaNova-Semibold" !important;
    font-size: 18px; }
    nav a img {
      height: 30px; }
  nav .navigation__links a {
    padding: 0px 12px; }

h2 {
  font-family: "ProximaNova-Semibold"; }
  h2 span {
    font-family: "ProximaNova-Semibold"; }

section {
  position: relative;
  height: 400px;
  min-height: 260px;
  padding: 100px 10%;
  display: flex;
  justify-content: center; }

.section-wrapper {
  position: relative;
  max-width: 1200px;
  width: 100%; }

.land-screen {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  height: calc(100% - 200px); }
  .land-screen .section-wrapper {
    position: relative; }
  .land-screen .land-screen__content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    animation: landpage-popup 1s linear; }

@keyframes landpage-popup {
  0% {
    transform: translateX(-10px);
    opacity: 0; }
  100% {
    transform: translateX(0);
    opacity: 1; } }
    .land-screen .land-screen__content .land-screen__text {
      max-width: 800px;
      padding-right: 400px; }
      .land-screen .land-screen__content .land-screen__text h1 {
        font-family: "ProximaNova-Semibold"; }
        .land-screen .land-screen__content .land-screen__text h1 p:first-child {
          font-weight: 900;
          font-size: 2em; }
          .land-screen .land-screen__content .land-screen__text h1 p:first-child span {
            font-weight: 900; }
        .land-screen .land-screen__content .land-screen__text h1 p:last-child {
          margin-top: 20px;
          width: 70%;
          min-width: 350px; }
        .land-screen .land-screen__content .land-screen__text h1 p span {
          white-space: nowrap; }
      .land-screen .land-screen__content .land-screen__text h2 {
        padding-bottom: 20px;
        width: 350px; }
    .land-screen .land-screen__content .buttons {
      margin-top: 100px;
      display: flex;
      flex-flow: row nowrap; }
      .land-screen .land-screen__content .buttons a:last-child {
        width: 280px; }
  .land-screen .land-screen__figures {
    position: absolute;
    top: 50%;
    right: 0%;
    height: 400px;
    width: 400px;
    transform: translateY(-60%);
    z-index: -1; }
    .land-screen .land-screen__figures .triangle {
      border-left: 130px solid transparent;
      border-right: 130px solid transparent;
      border-bottom: 200px solid #ff0606;
      transform: rotate(0);
      position: absolute;
      top: 10%;
      left: 250px;
      animation: landScreen-triangle 1s linear forwards;
      z-index: -1; }

@keyframes landScreen-triangle {
  0% {
    transform: rotate(180deg) translate(50%, 50%); }
  100% {
    transform: rotate(180deg) translate(50%, 0%); } }
    .land-screen .land-screen__figures .square {
      height: 200px;
      width: 200px;
      position: absolute;
      top: 50%;
      left: -50px;
      animation: landScreen-square 1s linear forwards;
      z-index: -2; }

@keyframes landScreen-square {
  0% {
    transform: translate(-30%, 0%); }
  100% {
    transform: translate(10%, 0%); } }
    .land-screen .land-screen__figures .round {
      height: 200px;
      width: 200px;
      position: absolute;
      top: 50%;
      left: 250px;
      animation: landScreen-round 1s linear forwards;
      z-index: -2; }

@keyframes landScreen-round {
  0% {
    transform: rotate(180deg) translate(50%, 0%) scale(1.1); }
  100% {
    transform: rotate(180deg) translate(50%, 0%) scale(1); } }

.prize-screen {
  height: 600px;
  padding: 0;
  background: #FFC20E; }
  .prize-screen h2 {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-top: 80px; }
    .prize-screen h2 span {
      color: white;
      font-family: "ProximaNova-Semibold"; }
      .prize-screen h2 span:first-child {
        font-size: 1.5em;
        text-transform: uppercase;
        line-height: 35px;
        text-align: right; }
      .prize-screen h2 span:nth-child(2) {
        margin: 0 20px;
        font-size: 6em;
        line-height: 70%;
        color: #ff0606;
        word-spacing: -15px; }
      .prize-screen h2 span:last-child {
        font-size: 1.2em;
        text-transform: uppercase; }
  .prize-screen .prize-screen__nominations {
    display: flex;
    justify-content: space-around;
    margin-top: 60px; }
    .prize-screen .prize-screen__nominations a {
      text-decoration: none;
      color: #171219;
      transition: all .5s; }
      .prize-screen .prize-screen__nominations a:hover {
        transform: scale(1.1); }
    .prize-screen .prize-screen__nominations .prize-screen__nominations__nomination {
      position: relative; }
      .prize-screen .prize-screen__nominations .prize-screen__nominations__nomination h3 {
        position: relative;
        z-index: 1; }
        .prize-screen .prize-screen__nominations .prize-screen__nominations__nomination h3 p {
          font-weight: 900;
          text-transform: uppercase;
          text-align: center; }
          .prize-screen .prize-screen__nominations .prize-screen__nominations__nomination h3 p:last-child {
            font-size: 2em;
            line-height: 40px; }
      .prize-screen .prize-screen__nominations .prize-screen__nominations__nomination div {
        position: absolute;
        background: white;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        text-align: right;
        top: 50px;
        left: 50%;
        transform: translate(-50%, 0); }
        .prize-screen .prize-screen__nominations .prize-screen__nominations__nomination div p {
          position: absolute;
          top: 25%;
          text-align: right; }
          .prize-screen .prize-screen__nominations .prize-screen__nominations__nomination div p span {
            font-weight: 900;
            color: #ff0606; }
            .prize-screen .prize-screen__nominations .prize-screen__nominations__nomination div p span:first-child {
              font-size: 3.9em;
              line-height: 40px; }
            .prize-screen .prize-screen__nominations .prize-screen__nominations__nomination div p span:last-child {
              font-size: 1.5em;
              text-transform: uppercase; }
      .prize-screen .prize-screen__nominations .prize-screen__nominations__nomination .round {
        position: absolute;
        top: -35px;
        width: 240px;
        height: 240px;
        z-index: 0; }
      .prize-screen .prize-screen__nominations .prize-screen__nominations__nomination .figure {
        width: 290px;
        height: 220px;
        background: none;
        top: 75px; }
        .prize-screen .prize-screen__nominations .prize-screen__nominations__nomination .figure p {
          width: 210px;
          top: 10%; }
          .prize-screen .prize-screen__nominations .prize-screen__nominations__nomination .figure p span:first-child {
            word-spacing: -7px; }
          .prize-screen .prize-screen__nominations .prize-screen__nominations__nomination .figure p span:last-child {
            padding-right: 5px; }
      .prize-screen .prize-screen__nominations .prize-screen__nominations__nomination .triangle {
        position: absolute;
        top: -30px;
        left: 0;
        background: transparent;
        border-left: 130px solid transparent;
        border-right: 130px solid transparent;
        border-bottom: 220px solid #ff0606;
        transform: rotate(170deg);
        transform: translate(35px, 0) rotate(170deg);
        border-bottom-color: white; }
      .prize-screen .prize-screen__nominations .prize-screen__nominations__nomination .square {
        position: absolute;
        top: -10px;
        left: 12%;
        width: 200px;
        height: 180px;
        transform: rotate(20deg); }
  .prize-screen .sharpers {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1; }
    .prize-screen .sharpers .top-sharps {
      position: absolute;
      top: -19px;
      right: -520px;
      display: flex;
      animation: move-sharpers-left 5s linear infinite; }

@keyframes move-sharpers-left {
  0% {
    transform: none; }
  100% {
    transform: translateX(520px); } }
    .prize-screen .sharpers .bottom-sharps {
      position: absolute;
      bottom: -19px;
      left: -520px;
      display: flex;
      animation: move-right-bottom 5s linear infinite; }

@keyframes move-left-bottom {
  0% {
    transform: rotate(180deg); }
  100% {
    transform: rotate(180deg) translateX(695px); } }

@keyframes move-right-bottom {
  0% {
    transform: rotate(180deg); }
  100% {
    transform: rotate(180deg) translateX(520px); } }
    .prize-screen .sharpers .sharp {
      border-bottom-color: #FFC20E !important;
      border-left: 25px solid transparent;
      border-right: 27px solid transparent;
      border-bottom: 20px solid #ff0606;
      transform: rotate(0); }

.stages-screen {
  height: 400px; }
  .stages-screen h2 {
    font-size: 3em; }
  .stages-screen .stages-screen__timeline {
    position: relative; }
    .stages-screen .stages-screen__timeline .stages-screen__timeline__dates {
      display: flex;
      justify-content: space-between;
      margin-top: 40px;
      margin-bottom: 10px;
      font-family: "ProximaNova-Semibold"; }
      .stages-screen .stages-screen__timeline .stages-screen__timeline__dates span {
        font-size: 2em;
        font-family: "ProximaNova-Semibold";
        color: #ff0606; }
        .stages-screen .stages-screen__timeline .stages-screen__timeline__dates span:nth-child(1) {
          padding-right: 2px; }
        .stages-screen .stages-screen__timeline .stages-screen__timeline__dates span:nth-child(2) {
          padding-right: 10px; }
        .stages-screen .stages-screen__timeline .stages-screen__timeline__dates span:nth-child(3) {
          padding-left: 18px; }
    .stages-screen .stages-screen__timeline .stages-screen__timeline__stage {
      display: flex;
      justify-content: space-around;
      margin-top: 130px; }
      .stages-screen .stages-screen__timeline .stages-screen__timeline__stage span {
        text-align: center;
        font-family: "ProximaNova-Semibold";
        font-size: 1.3em; }
        .stages-screen .stages-screen__timeline .stages-screen__timeline__stage span:nth-child(1) {
          padding-left: 20px; }
    .stages-screen .stages-screen__timeline .stages-screen__timeline__shapes {
      position: absolute;
      margin-top: 50px;
      width: 100%;
      display: flex;
      justify-content: space-between; }
      .stages-screen .stages-screen__timeline .stages-screen__timeline__shapes .square {
        width: 40px;
        height: 140px;
        position: relative; }
        .stages-screen .stages-screen__timeline .stages-screen__timeline__shapes .square .crown {
          position: absolute;
          top: -32px;
          left: -6px;
          width: 30px;
          height: 30px;
          transform: scale(1.1); }
          .stages-screen .stages-screen__timeline .stages-screen__timeline__shapes .square .crown img {
            color: #FFC20E; }
      .stages-screen .stages-screen__timeline .stages-screen__timeline__shapes .round {
        position: relative;
        width: 50px;
        height: 50px; }
        .stages-screen .stages-screen__timeline .stages-screen__timeline__shapes .round:before {
          display: block;
          content: "";
          height: 200px;
          width: 2px;
          background: #CCCCCC;
          position: absolute;
          top: -40px;
          left: 50%;
          transform: translate(100% 0);
          z-index: -1; }
      .stages-screen .stages-screen__timeline .stages-screen__timeline__shapes:before {
        display: block;
        content: "";
        position: absolute;
        z-index: -1;
        top: 20px;
        left: 0;
        width: 99%;
        height: 0px;
        border-bottom: dashed 6px #171219; }
  .stages-screen .stages-screen__figures {
    display: flex;
    position: absolute;
    bottom: -100px;
    right: 0; }
    .stages-screen .stages-screen__figures .triangle {
      border-left: 40px solid transparent;
      border-right: 40px solid transparent;
      border-bottom: 70px solid #ff0606;
      transform: rotate(0); }
      .stages-screen .stages-screen__figures .triangle:first-child {
        margin-right: 150px; }

.nomination-screen {
  display: flex;
  align-items: center; }
  .nomination-screen h2 {
    font-size: 3em; }
    .nomination-screen h2 span {
      text-transform: uppercase; }
  .nomination-screen p {
    margin-top: 40px;
    margin-bottom: 100px;
    width: 550px;
    font-size: 1.2em; }
  .nomination-screen:nth-child(even) {
    background: #FFF9E6; }

.floor-nomination {
  overflow-y: hidden; }
  .floor-nomination .nomination-screen__text {
    position: relative;
    z-index: 1000; }
  .floor-nomination .section-animation {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0; }
    .floor-nomination .section-animation .section-animation__top, .floor-nomination .section-animation .section-animation__bottom {
      display: flex;
      position: absolute;
      right: 0;
      z-index: 1; }
      .floor-nomination .section-animation .section-animation__top .triangle, .floor-nomination .section-animation .section-animation__bottom .triangle {
        border-left: 40px solid transparent;
        border-right: 40px solid transparent;
        border-bottom: 70px solid #ff0606;
        transform: rotate(0); }
        .floor-nomination .section-animation .section-animation__top .triangle:first-child, .floor-nomination .section-animation .section-animation__bottom .triangle:first-child {
          margin-right: 150px; }
    .floor-nomination .section-animation .section-animation__top {
      top: calc(50% - 301px);
      transform: rotate(180deg); }
    .floor-nomination .section-animation .section-animation__bottom {
      bottom: calc(50% - 300px); }
    .floor-nomination .section-animation .section-animation__content {
      display: flex;
      position: absolute;
      top: calc(50% - 300px);
      right: 0; }
      .floor-nomination .section-animation .section-animation__content > div {
        display: flex;
        flex-flow: column nowrap; }
        .floor-nomination .section-animation .section-animation__content > div .square {
          width: 80px;
          height: 80px;
          margin: 15px 0; }
        .floor-nomination .section-animation .section-animation__content > div:first-child {
          margin-right: 150px; }
      .floor-nomination .section-animation .section-animation__content .section-animation__content__top-direction {
        animation: move-top 1s linear infinite; }

@keyframes move-top {
  0% {
    transform: translateY(-110px); }
  100% {
    transform: translateY(0); } }
      .floor-nomination .section-animation .section-animation__content .section-animation__content__bottom-direction {
        animation: move-bottom 1s linear infinite; }

@keyframes move-bottom {
  0% {
    transform: translateY(0); }
  100% {
    transform: translateY(-110px); } }

.foodcourt-nomination {
  display: flex; }
  .foodcourt-nomination .nomination-screen__text {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-end;
    position: relative;
    z-index: 99;
    text-align: right; }
  .foodcourt-nomination .section-animation {
    overflow-y: visible; }
    .foodcourt-nomination .section-animation .section-animation__top {
      display: flex;
      position: absolute;
      top: calc(50% - 301px);
      right: 0;
      z-index: 999; }
      .foodcourt-nomination .section-animation .section-animation__top .triangle {
        border-left: 40px solid transparent;
        border-right: 40px solid transparent;
        border-bottom: 70px solid #ff0606;
        transform: rotate(180deg); }
        .foodcourt-nomination .section-animation .section-animation__top .triangle:first-child {
          margin-right: 150px; }
    .foodcourt-nomination .section-animation .section-animation__content .pizza {
      position: absolute;
      left: -75px;
      top: -40px;
      z-index: 3;
      border-left: 280px solid transparent;
      border-right: 140px solid transparent;
      border-bottom: 600px solid #ff0606;
      transform: rotate(193deg);
      border-bottom-color: #FFC20E; }
      .foodcourt-nomination .section-animation .section-animation__content .pizza .square {
        background: #009444;
        position: absolute; }
        .foodcourt-nomination .section-animation .section-animation__content .pizza .square:first-child {
          top: 450px;
          left: -30px;
          width: 120px;
          height: 100px;
          transform: rotate(-30deg);
          animation: pizza-shaking-first 4s linear infinite; }

@keyframes pizza-shaking-first {
  0% {
    transform: rotate(-30deg); }
  50% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(-30deg); } }
        .foodcourt-nomination .section-animation .section-animation__content .pizza .square:nth-child(5) {
          top: 230px;
          left: -60px;
          width: 90px;
          height: 90px;
          animation: pizza-shaking-second 4s linear infinite; }

@keyframes pizza-shaking-second {
  0% {
    transform: rotate(15deg); }
  50% {
    transform: rotate(30deg); }
  100% {
    transform: rotate(15deg); } }
      .foodcourt-nomination .section-animation .section-animation__content .pizza .round {
        background: #ff0606;
        position: absolute; }
        .foodcourt-nomination .section-animation .section-animation__content .pizza .round:nth-child(2) {
          top: 450px;
          left: -130px;
          height: 110px;
          width: 110px;
          animation: pizza-popup-first 2s linear infinite;
          animation-delay: 0s; }

@keyframes pizza-popup-first {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.2); }
  100% {
    transform: scale(1); } }
        .foodcourt-nomination .section-animation .section-animation__content .pizza .round:nth-child(3) {
          top: 310px;
          left: -45px;
          height: 130px;
          width: 130px;
          z-index: 3;
          animation: pizza-popup-second 2s linear infinite;
          animation-delay: .5s; }

@keyframes pizza-popup-second {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.1); }
  100% {
    transform: scale(1); } }
        .foodcourt-nomination .section-animation .section-animation__content .pizza .round:nth-child(4) {
          top: 380px;
          left: -130px;
          height: 40px;
          width: 40px;
          animation: pizza-popup-third 2s linear infinite;
          animation-delay: 1s; }

@keyframes pizza-popup-third {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.3); }
  100% {
    transform: scale(1); } }
        .foodcourt-nomination .section-animation .section-animation__content .pizza .round:nth-child(6) {
          top: 155px;
          left: -45px;
          height: 80px;
          width: 80px;
          animation: pizza-popup-forth 2s linear infinite;
          animation-delay: 1.5s; }

@keyframes pizza-popup-forth {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.05); }
  100% {
    transform: scale(1); } }

.street-nomination {
  z-index: 2; }
  .street-nomination .nomination-screen__text {
    position: relative;
    z-index: 999999; }
  .street-nomination .section-animation {
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
    right: 15%;
    top: -60px;
    transform: scale(1.3); }
    .street-nomination .section-animation .section-animation__content .sun {
      position: absolute;
      top: 60px;
      right: 200px;
      background: #FFC20E;
      width: 30px;
      height: 30px;
      animation: alley-popup 3s linear infinite;
      animation-delay: 3s; }

@keyframes alley-popup {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.3); }
  100% {
    transform: scale(1); } }
    .street-nomination .section-animation .section-animation__content .alley .round {
      position: absolute; }
      .street-nomination .section-animation .section-animation__content .alley .round:nth-child(1) {
        top: 100px;
        right: 80px;
        width: 35px;
        height: 35px;
        animation: alley-popup 1s linear infinite; }

@keyframes alley-popup {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.1); }
  100% {
    transform: scale(1); } }
      .street-nomination .section-animation .section-animation__content .alley .round:nth-child(2) {
        top: 140px;
        right: 115px;
        width: 40px;
        height: 40px;
        animation: alley-popup 1s linear infinite;
        animation-delay: .2s; }

@keyframes alley-popup {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.1); }
  100% {
    transform: scale(1); } }
      .street-nomination .section-animation .section-animation__content .alley .round:nth-child(3) {
        top: 190px;
        right: 150px;
        width: 50px;
        height: 50px;
        animation: alley-popup 1s linear infinite;
        animation-delay: .3s; }

@keyframes alley-popup {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.1); }
  100% {
    transform: scale(1); } }
      .street-nomination .section-animation .section-animation__content .alley .round:nth-child(4) {
        top: 250px;
        right: 200px;
        width: 55px;
        height: 55px;
        animation: alley-popup 1s linear infinite;
        animation-delay: .5s; }

@keyframes alley-popup {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.1); }
  100% {
    transform: scale(1); } }
      .street-nomination .section-animation .section-animation__content .alley .round:nth-child(5) {
        top: 300px;
        right: 245px;
        width: 60px;
        height: 60px;
        animation: alley-popup 1s linear infinite;
        animation-delay: .7s; }

@keyframes alley-popup {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.1); }
  100% {
    transform: scale(1); } }
      .street-nomination .section-animation .section-animation__content .alley .round:nth-child(6) {
        top: 350px;
        right: 300px;
        width: 70px;
        height: 70px;
        animation: alley-popup 1s linear infinite;
        animation-delay: .9s; }

@keyframes alley-popup {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.1); }
  100% {
    transform: scale(1); } }
      .street-nomination .section-animation .section-animation__content .alley .round:nth-child(10) {
        top: 160px;
        right: -45px;
        width: 40px;
        height: 40px;
        animation: alley-popup 1s linear infinite;
        animation-delay: .15s; }

@keyframes alley-popup {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.1); }
  100% {
    transform: scale(1); } }
      .street-nomination .section-animation .section-animation__content .alley .round:nth-child(11) {
        top: 210px;
        right: -30px;
        width: 50px;
        height: 50px;
        animation: alley-popup 1s linear infinite;
        animation-delay: .16s; }

@keyframes alley-popup {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.1); }
  100% {
    transform: scale(1); } }
      .street-nomination .section-animation .section-animation__content .alley .round:nth-child(12) {
        top: 270px;
        right: -10px;
        width: 60px;
        height: 60px;
        animation: alley-popup 1s linear infinite;
        animation-delay: .17s; }

@keyframes alley-popup {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.1); }
  100% {
    transform: scale(1); } }
      .street-nomination .section-animation .section-animation__content .alley .round:nth-child(13) {
        top: 335px;
        right: 10px;
        width: 70px;
        height: 70px;
        animation: alley-popup 1s linear infinite;
        animation-delay: .18s; }

@keyframes alley-popup {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.1); }
  100% {
    transform: scale(1); } }
      .street-nomination .section-animation .section-animation__content .alley .round:nth-child(14) {
        top: 400px;
        right: 50px;
        width: 95px;
        height: 95px;
        animation: alley-popup 1s linear infinite;
        animation-delay: .19s; }

@keyframes alley-popup {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.1); }
  100% {
    transform: scale(1); } }
    .street-nomination .section-animation .section-animation__content .alley .triangle {
      position: absolute; }
      .street-nomination .section-animation .section-animation__content .alley .triangle:nth-child(7) {
        top: 50px;
        right: 0;
        border-left: 40px solid transparent;
        border-right: 40px solid transparent;
        border-bottom: 140px solid #ff0606;
        transform: rotate(0); }
      .street-nomination .section-animation .section-animation__content .alley .triangle:nth-child(8) {
        top: 150px;
        right: 50px;
        border-left: 50px solid transparent;
        border-right: 50px solid transparent;
        border-bottom: 180px solid #ff0606;
        transform: rotate(0); }
      .street-nomination .section-animation .section-animation__content .alley .triangle:nth-child(9) {
        top: 240px;
        right: 130px;
        border-left: 60px solid transparent;
        border-right: 60px solid transparent;
        border-bottom: 200px solid #ff0606;
        transform: rotate(0); }

.rules-screen {
  height: auto; }
  .rules-screen h2 {
    font-size: 3em; }
  .rules-screen .rules-screen__rules {
    margin-top: 50px;
    margin-bottom: 20px;
    border: solid #171219;
    border-width: 1px 0 1px 0; }
    .rules-screen .rules-screen__rules .rules-screen__rules__rule {
      display: flex;
      flex-flow: column;
      padding: 30px 0px;
      position: relative;
      cursor: pointer;
      transition: all .5s; }
      .rules-screen .rules-screen__rules .rules-screen__rules__rule:not(:last-child) {
        border-bottom: solid 1px #171219; }
      .rules-screen .rules-screen__rules .rules-screen__rules__rule .rules-screen__rules__rule__short {
        display: flex;
        align-items: center;
        justify-content: space-between; }
        .rules-screen .rules-screen__rules .rules-screen__rules__rule .rules-screen__rules__rule__short .screen__rules__rule__short__label {
          display: flex;
          align-items: center; }
          .rules-screen .rules-screen__rules .rules-screen__rules__rule .rules-screen__rules__rule__short .screen__rules__rule__short__label .square {
            margin-right: 15px;
            width: 25px;
            height: 25px;
            background: #ff0606; }
      .rules-screen .rules-screen__rules .rules-screen__rules__rule .rules-screen__rules__rule__text {
        height: 0;
        padding-left: 15px;
        transform: scaleY(0);
        transition: all .2s;
        transform-origin: top; }
        .rules-screen .rules-screen__rules .rules-screen__rules__rule .rules-screen__rules__rule__text p {
          padding: 2px 0; }
      .rules-screen .rules-screen__rules .rules-screen__rules__rule h4 {
        font-size: 18px;
        font-family: "ProximaNova-Semibold"; }
      .rules-screen .rules-screen__rules .rules-screen__rules__rule .expand-button {
        position: relative;
        width: 20px;
        height: 20px;
        transition: transform .5s; }
        .rules-screen .rules-screen__rules .rules-screen__rules__rule .expand-button:before, .rules-screen .rules-screen__rules .rules-screen__rules__rule .expand-button:after {
          display: block;
          content: "";
          position: absolute;
          top: 50%;
          left: 0%;
          width: 20px;
          height: 3px;
          background: #171219;
          border-radius: 10px; }
        .rules-screen .rules-screen__rules .rules-screen__rules__rule .expand-button:after {
          transform: rotate(-90deg); }
        .rules-screen .rules-screen__rules .rules-screen__rules__rule .expand-button:hover {
          transform: scale(1.1); }
    .rules-screen .rules-screen__rules .active .expand-button {
      transform: rotate(135deg); }
      .rules-screen .rules-screen__rules .active .expand-button:hover {
        transform: scale(1.1) rotate(135deg); }
    .rules-screen .rules-screen__rules .active .rules-screen__rules__rule__text {
      margin-top: 20px;
      height: auto;
      transform: scaleY(1); }

footer {
  display: flex;
  justify-content: center;
  position: relative;
  background: #FFC20E;
  padding: 30px 10%;
  color: #171219; }
  footer .section-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  footer .footer-info, footer .footer-contacts {
    display: flex;
    align-items: center; }
    footer .footer-info span, footer .footer-contacts span {
      margin-left: 20px; }
    footer .footer-info p, footer .footer-contacts p {
      font-size: 1.3em;
      font-family: "ProximaNova-Semibold";
      margin-right: 40px;
      width: 170px; }
  footer .links {
    display: flex; }
    footer .links a {
      width: 30px;
      height: 30px; }
      footer .links a:first-child {
        margin-right: 20px;
        width: 32px;
        height: 32px; }
      footer .links a img {
        width: 100%;
        height: 100%;
        filter: invert(13%) sepia(96%) saturate(9%) hue-rotate(314deg) brightness(97%) contrast(86%); }
  footer .cat {
    position: absolute;
    top: -30px;
    right: 10%;
    background: #FFC20E;
    width: 60px;
    height: 60px;
    transform: translateY(-90%); }
    footer .cat .cat__ear {
      position: absolute; }
      footer .cat .cat__ear:first-child {
        border-left: 11px solid transparent;
        border-right: 7px solid transparent;
        border-bottom: 19px solid #ff0606;
        transform: rotate(0);
        top: -8px;
        left: -8px;
        transform: rotate(-40deg);
        border-bottom-color: #FFC20E; }
      footer .cat .cat__ear:nth-child(2) {
        border-left: 12px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: 20px solid #ff0606;
        transform: rotate(0);
        top: -9px;
        right: -9px;
        transform: scaleX(-1) rotate(-40deg);
        border-bottom-color: #FFC20E; }
    footer .cat .cat__eye {
      position: absolute;
      width: 7px;
      height: 12px;
      background: #009444; }
      footer .cat .cat__eye:nth-child(3) {
        top: 17px;
        left: 12px; }
      footer .cat .cat__eye:nth-child(4) {
        top: 17px;
        right: 20px; }
      footer .cat .cat__eye:before {
        position: absolute;
        top: 2px;
        left: 1px;
        display: block;
        content: "";
        width: 3px;
        height: 3px;
        background: #171219;
        border-radius: 50%; }
    footer .cat .cat__nose {
      border-left: 6px solid transparent;
      border-right: 8px solid transparent;
      border-bottom: 10px solid #ff0606;
      transform: rotate(180deg);
      position: absolute;
      bottom: 18px;
      left: 16px; }

@media screen and (max-width: 880px) {
  nav {
    padding: 0 5%; }
    nav .section-wrapper {
      justify-content: center; }
      nav .section-wrapper .burger-menu {
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        left: 0;
        width: 35px;
        height: 26px;
        overflow-y: hidden; }
        nav .section-wrapper .burger-menu .stick {
          width: 35px;
          height: 4px;
          background: white;
          transition: all .5s; }
      nav .section-wrapper .active .stick:nth-child(1) {
        transform: translateY(11px) rotate(45deg); }
      nav .section-wrapper .active .stick:nth-child(2) {
        transform: translateY(40px); }
      nav .section-wrapper .active .stick:nth-child(3) {
        transform: translateY(-11px) rotate(-45deg); }
      nav .section-wrapper .navigation__links {
        position: absolute;
        display: flex;
        flex-flow: column;
        justify-content: space-around;
        left: 0;
        top: 60px;
        width: 260px;
        background: #FFC20E;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        transform: scaleY(0);
        transform-origin: top;
        transition: all .5s; }
        nav .section-wrapper .navigation__links a {
          text-indent: 15px;
          padding: 20px 0;
          margin: 0 20px;
          font-size: 24px; }
          nav .section-wrapper .navigation__links a:not(:last-child) {
            border-bottom: solid 1px #171219; }
      nav .section-wrapper .mobile-menu {
        transform: scaleY(1); }
  section {
    padding: 100px 5%; }
  .prize-screen {
    height: auto; }
    .prize-screen h2 {
      padding-top: 70px;
      flex-flow: column nowrap;
      align-items: center; }
      .prize-screen h2 span {
        line-height: 120% !important;
        text-align: center !important;
        font-size: 8vw !important; }
        .prize-screen h2 span:nth-child(2) {
          font-size: 15vw !important; }
    .prize-screen .prize-screen__nominations {
      flex-flow: row wrap;
      margin: 0;
      padding: 30px 0 70px 0; }
      .prize-screen .prize-screen__nominations .prize-screen__nominations__nomination {
        width: 300px;
        height: 250px; }
        .prize-screen .prize-screen__nominations .prize-screen__nominations__nomination:first-child {
          order: 3; }
  .stages-screen .stages-screen__figures .triangle:first-child {
    margin-right: 10vw; }
  .floor-nomination .section-wrapper .section-animation .section-animation__top .triangle:first-child, .floor-nomination .section-wrapper .section-animation .section-animation__bottom .triangle:first-child {
    margin-right: 10vw; }
  .floor-nomination .section-wrapper .section-animation .section-animation__content > div:first-child {
    margin-right: 10vw; }
  .foodcourt-nomination .section-animation .section-animation__top .triangle:first-child {
    margin-right: 10vw; }
  footer {
    padding: 30px 5%; }
    footer .footer-contacts p {
      margin: 0 20px; } }

@media screen and (max-width: 770px) {
  .buttons {
    flex-flow: column nowrap !important; }
    .buttons .button {
      margin: 15px 0; }
  .nomination-screen p {
    width: 300px;
    margin: 50px 0; }
  .street-nomination .section-animation {
    right: 0; } }

@media screen and (max-width: 700px) {
  .stages-screen {
    height: auto; }
    .stages-screen .section-wrapper {
      display: flex;
      flex-flow: column nowrap;
      align-items: center; }
    .stages-screen h2 {
      margin-bottom: 50px;
      text-align: left;
      width: 100%; }
    .stages-screen .stages-screen__timeline {
      display: flex;
      flex-flow: column;
      justify-content: center;
      height: 650px;
      width: 100vw; }
      .stages-screen .stages-screen__timeline > div {
        margin: 0 !important; }
      .stages-screen .stages-screen__timeline .stages-screen__timeline__dates {
        flex-flow: column nowrap;
        position: absolute;
        left: 30px;
        height: 100%;
        font-size: 1em; }
        .stages-screen .stages-screen__timeline .stages-screen__timeline__dates span {
          padding: 0 !important;
          font-size: 2.5em;
          line-height: 70px;
          text-align: center; }
      .stages-screen .stages-screen__timeline .stages-screen__timeline__stage {
        flex-flow: column nowrap;
        justify-content: space-between;
        align-items: flex-end;
        height: 65%; }
        .stages-screen .stages-screen__timeline .stages-screen__timeline__stage span {
          padding: 0 !important;
          width: 35vw;
          margin: 0 2vw;
          text-align: center;
          font-size: 1em; }
        .stages-screen .stages-screen__timeline .stages-screen__timeline__stage br {
          display: none; }
      .stages-screen .stages-screen__timeline .stages-screen__timeline__shapes {
        flex-flow: column nowrap;
        align-items: flex-end;
        height: 100%; }
        .stages-screen .stages-screen__timeline .stages-screen__timeline__shapes .square {
          width: 55%;
          height: 60px; }
          .stages-screen .stages-screen__timeline .stages-screen__timeline__shapes .square .crown {
            transform: scale(1.5);
            left: -4px;
            top: -34px; }
        .stages-screen .stages-screen__timeline .stages-screen__timeline__shapes .round {
          width: 60px;
          height: 60px;
          right: 35%; }
          .stages-screen .stages-screen__timeline .stages-screen__timeline__shapes .round:before {
            width: 50vw;
            height: 2px;
            top: 50%; }
        .stages-screen .stages-screen__timeline .stages-screen__timeline__shapes:before {
          border-bottom: none;
          position: absolute;
          left: calc(65vw - 33px);
          width: 0px;
          height: 100%;
          border-left: dashed 6px #171219; }
  .rules-screen {
    font-size: 2em; }
  footer .footer-info span {
    width: 200px; }
  footer .footer-contacts {
    flex-flow: column nowrap; }
    footer .footer-contacts p {
      margin: 0;
      margin-bottom: 10px; } }

@media screen and (max-width: 599px) {
  .prize-screen h2 span:first-child {
    font-size: 12vw !important;
    line-height: normal !important; }
  .prize-screen h2 span:nth-child(2) {
    font-size: 24vw !important; }
  .prize-screen h2 span:last-child {
    font-size: 12vw !important;
    line-height: normal !important; }
  .prize-screen .prize-screen__nominations .prize-screen__nominations__nomination {
    margin: 30px 0; }
    .prize-screen .prize-screen__nominations .prize-screen__nominations__nomination:first-child {
      order: 0; } }

@media screen and (max-width: 540px) {
  .wrapper {
    height: calc(var(--vh, 1vh) * 100 - 60px); }
  footer {
    margin-top: 40px;
    padding: 50px 5%; }
    footer .section-wrapper {
      flex-flow: column nowrap; }
    footer .cat {
      top: -50px; }
    footer .footer-info {
      flex-flow: column nowrap;
      margin-bottom: 25px; }
      footer .footer-info span {
        font-family: "ProximaNova-Semibold";
        margin: 0;
        margin-top: 25px;
        text-align: center; }
    footer .footer-contacts .links {
      margin-top: 25px;
      transform: scale(1.3);
      width: 100px;
      justify-content: space-around; }
      footer .footer-contacts .links a {
        margin: 0; } }

@media screen and (max-width: 500px) {
  section {
    padding: 50px 10%;
    height: auto; }
  .buttons {
    width: 100%;
    align-items: center; }
    .buttons .button {
      display: flex;
      justify-content: center;
      width: 100% !important; }
      .buttons .button > div {
        width: 100% !important;
        margin: 0 !important; }
  .land-screen {
    min-height: 650px !important;
    height: calc(100% - 60px);
    margin-bottom: 0; }
    .land-screen .section-wrapper {
      display: flex;
      flex-flow: column nowrap;
      align-items: center; }
    .land-screen .land-screen__content {
      align-items: center;
      width: 100%; }
      .land-screen .land-screen__content .land-screen__text {
        width: 100%;
        padding-right: 0; }
        .land-screen .land-screen__content .land-screen__text h2 {
          font-size: 1.2em; }
        .land-screen .land-screen__content .land-screen__text h1 {
          font-size: 5.2vw; }
          .land-screen .land-screen__content .land-screen__text h1 p:nth-child(2) {
            min-width: 0;
            width: 100%; }
      .land-screen .land-screen__content .buttons {
        margin-top: 250px; }
    .land-screen .land-screen__figures {
      right: 50%;
      transform: translate(60%, -65%) scale(0.75); }
  .stages-screen .stages-screen__figures {
    display: none; }
  .nomination-screen .nomination-screen__text {
    display: flex;
    flex-flow: column nowrap;
    align-items: center; }
    .nomination-screen .nomination-screen__text h2 {
      text-align: center; }
  .floor-nomination {
    overflow-x: hidden; }
    .floor-nomination .nomination-screen__text .buttons {
      margin-top: 70px; }
    .floor-nomination .nomination-screen__text p {
      width: 100%; }
    .floor-nomination .section-animation {
      height: 100%;
      width: 100vw;
      left: -10vw; }
      .floor-nomination .section-animation .section-animation__top {
        flex-flow: column nowrap;
        top: unset;
        left: -5px;
        bottom: 185px;
        transform: none; }
        .floor-nomination .section-animation .section-animation__top .triangle {
          border-left: 30px solid transparent;
          border-right: 30px solid transparent;
          border-bottom: 50px solid #ff0606;
          transform: rotate(90deg); }
          .floor-nomination .section-animation .section-animation__top .triangle:last-child {
            margin-top: 20px; }
      .floor-nomination .section-animation .section-animation__bottom {
        flex-flow: column nowrap;
        top: unset;
        right: -12.5%;
        bottom: 185px;
        transform: none; }
        .floor-nomination .section-animation .section-animation__bottom .triangle {
          border-left: 30px solid transparent;
          border-right: 30px solid transparent;
          border-bottom: 50px solid #ff0606;
          transform: rotate(-90deg); }
          .floor-nomination .section-animation .section-animation__bottom .triangle:last-child {
            margin-top: 20px; }
      .floor-nomination .section-animation .section-animation__content {
        flex-flow: column nowrap;
        top: unset;
        right: unset;
        bottom: 185px;
        left: 5px; }
        .floor-nomination .section-animation .section-animation__content > div {
          flex-flow: row nowrap; }
          .floor-nomination .section-animation .section-animation__content > div .square {
            width: 50px;
            height: 50px;
            margin: 0 10px; }
          .floor-nomination .section-animation .section-animation__content > div:first-child {
            margin-bottom: 20px; }
        .floor-nomination .section-animation .section-animation__content .section-animation__content__top-direction {
          animation: move-left 1s linear infinite; }
  @keyframes move-left {
    0% {
      transform: translateX(-70px); }
    100% {
      transform: translateX(0); } }
        .floor-nomination .section-animation .section-animation__content .section-animation__content__bottom-direction {
          animation: move-right 1s linear infinite; }
  @keyframes move-right {
    0% {
      transform: translateX(0); }
    100% {
      transform: translateX(-70px); } }
  .foodcourt-nomination .section-animation .section-animation__top {
    display: none; }
  .foodcourt-nomination .section-animation .section-animation__content .pizza {
    top: -10px;
    left: -145px;
    transform: scale(0.75) rotate(193deg); }
  .street-nomination .section-animation {
    transform: scale(0.9) !important;
    right: -20px !important;
    right: -40px !important;
    top: -30px !important; }
    .street-nomination .section-animation .sun {
      top: -40px !important;
      right: 260px !important; }
  .rules-screen h4 {
    width: 200px; } }

@media screen and (max-height: 800px), screen and (max-width: 500px) {
  .land-screen {
    min-height: 0 !important; }
    .land-screen .section-wrapper {
      height: 100%; }
      .land-screen .section-wrapper .land-screen__content {
        height: 100%;
        justify-content: space-between; }
        .land-screen .section-wrapper .land-screen__content .buttons {
          margin-top: 0px; } }
